{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head> 
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}">

	</head>

	<style>
	small{color:grey}
	label{color:#007cae}
	table{width:100%}
	#navbar {overflow: hidden;}
	#navbar a {float: left;display: block;color:black;text-align: center;padding: 8px 10px;text-decoration: none;font-size: 15px;}
	#navbar a:hover {background-color:#d3d3d3;color: black;}
	#navbar a.active {background-color:#007cae;color: white;}
	.content {padding: 0px;}
	.sticky {position: fixed;top: 0;width: 100%;}
	.sticky + .content {padding-top: 60px;}
	</style>
	<body>

		<!--header-->
		<div class="header w3-container">
		  <h1>Ici le Logo ou le nom</h1>
		</div>

		<!--navbar-->
		<div id="navbar" class="w3-bar w3-light-grey">
			<a href="#">Accueil</a>
			<a href="#">A propos de nous</a>
			<a class="active" style="float:right" href="{% url 'res' %}">Rendez-vous en ligne</a>
		</div>
		
		<div class="content">
		{% block content %}
		{% endblock %}
		</div>

		<div class="w3-diplay-bottom w3-center" style="padding-top:300px">
			<hr>
			<div class="w3-container w3-content">
				<h4 style="color:#007cae;">Here go the footer</h4>
				<p>Content</p>
			</div>
		</div>
		<script type="text/javascript">
			window.onscroll = function() {myFunction()};

			var navbar = document.getElementById("navbar");
			var sticky = navbar.offsetTop;

			function myFunction() 
			{
			  if (window.pageYOffset >= sticky) 
			  {
			    navbar.classList.add("sticky")
			  } 
			  else 
			  {
			    navbar.classList.remove("sticky");
			  }
			}	
		</script>
		{% block javascript %}
		{% endblock %}
	</body>
</html>