{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head> 
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{% static 'pic/r.jpg' %}">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/css1.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.min.css' %}"/>
	</head>

	<style>
	small{color:grey}
	label{color:#007cae}
	table{width:100%}
	</style>
	<body>

		<!--header-->
		<header class="header">
			<h3 class="text-secondary">Ici le logo / nom du cabinet médical</h3>
		</header>		
		<div class="p-5" id="content">
		{% block content %}
		{% endblock %}
		</div>

		<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
		<script src="{% static 'js/popper.min' %}"></script>
		<script src="{% static 'js/bootstrap.min' %}"></script>
		{% block javascript %}
		{% endblock %}
	</body>
</html>