{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Créer un RDV{% endblock %}
{% block javascript %}
<script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
<script type="text/javascript">
$(function () {
    $("#id_date_de_RDV").datetimepicker({
      format: 'd/m/Y H:i',
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="my-5">
    <h2 class="text-center text-info">Créer votre rendez-vous</h2>
    <hr style="width:50%">
    <div class="row justify-content-center text-center" id="message">
        <div class="col-md-5">
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <p style="color:white;background-color:#f44336;">{{ message }}</p>
                {% endif %}
                {% if message.tags == "success" %}
                    <p style="color:white;background-color:#68B29F;">{{ message }}</p>
                {% endif %}
            {% endfor %}
            {% for field in form.visible_fields %}  
                {% for error in field.errors %}
                    <p style="color:white;background-color:#f44336;">{{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <form method="post" style="line-height:0.2">
    {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
      <div class="form-row row justify-content-center">
        <div class="form-group col-md-3">
          <label for="{{ prenom.id_for_label }}">Prénom</label>
          {% render_field form.prenom class="form-control" type="text" %}
        </div>
        <div class="form-group col-md-3">
         <label for="{{ nom.id_for_label }}">Nom</label> 
           {% render_field form.nom class="form-control" type="text" %}
        </div>       
      </div>
      <div class="form-row row justify-content-center">
        <div class="form-group col-md-3">
          <label for="{{ CIN.id_for_label }}">Numéro de CIN</label>
          {% render_field form.CIN class="form-control" type="text" %}
        </div>
        <div class="form-group col-md-3">
        <label for="{{ sexe.id_for_label }}">Sexe</label>
        {% render_field form.sexe class="form-control" type="text" %}
        </div>        
      </div>   
      <div class="form-row row justify-content-center">
        <div class="form-group col-md-3">
         <label for="{{ telephone.id_for_label }}">Téléphone</label> 
           {% render_field form.telephone class="form-control" type="text" %}
        </div>
        <div class="form-group col-md-3">
         <label for="{{ date_de_RDV.id_for_label }}">Date de rendez-vous</label> 
           {% render_field form.date_de_RDV class="form-control" autocomplete="off" type="text" %}
           <button type="submit" class="btn btn-info float-right my-2">Envoyer</button>
        </div>       
      </div>
      <div class="mx-auto my-1" style="padding-left:67%">       
        
        </div>
    </form>
</div>
{% if existed is not none %}
<div class="text-center my-4">
    <h3>Liste des heure prise pour la même journée :</h3>
    <h5 class="text-secondary"> <b>Schant que la durée moyenne d'un RDV est 30 min</b></h5>
    <div class="container" style="width:400px;height:200px;overflow:auto;">
        {% for res in existed %}
        <p class="border border-info rounded">{{ res.date_de_RDV.time }}<span class="small"> (+30 min) </span></p>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}